.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

 body {
 text-align: center;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: linear-gradient(79deg, #742388, #c66fbc 48%, #f7944d);
}
.form-container, .login-form {
    display: flex;
	flex-direction: column;
	
	
}
label {
text-align: left;
padding: 0.25rem 0;
}

input {
	margin:0.5rem, 0;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

button {
	margin-top: 1rem;
	border: none;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.link-btn {
	background: none;
	color: blue;
	text-decoration: underline;
	
}
/*.container, .form-input, .form-button {
	font-style: 500 1rem 'Quicksand', sans-serif;
	
} */